@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter var", sans-serif;
}

body {
  overflow: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 12vh;
}

header {
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  border-bottom: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-title {
  font-weight: 900;
  margin-right: 2rem;
}

form {
  width: 300px;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  width: 90%;
  height: 30px;
  background-color: rgb(226, 226, 226);
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  font-family: "Inter var", sans-serif;
}

.header-search:focus {
  outline: none;
}

.header-search-btn {
  width: 10%;
  min-width: 26px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: rgb(226, 226, 226);
  font-size: 1rem;
  justify-content: flex-end;
}

.header-buttons {
  transition: all 0.5s;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  font-size: 0.8rem;
}

.header-buttons a {
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: 500;
  gap: 8px;
  align-items: center;
}

.header-buttons-small {
  display: none;
  gap: 1rem;
  align-items: flex-end;
  font-size: 1rem;
}

.header-buttons-small a {
  display: flex;
  text-decoration: none;
  color: black;
  gap: 8px;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .header-buttons {
    display: none;
  }
  .header-buttons-small {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  header {
    width: 100%;
  }
  form {
    width: 400px;
  }
}
